:root {
    --primary-text-color: #011C44;
    --brand-dark-color: #2B7FFF;
    --brand-white-color: #FFFFFF;
    --grey-color: #4A4A4A;
    --grey-color-dark: #747272;
    --modal-grey-color: #011F4A66;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;