.button-order {
    padding: 16px 32px;
    
    background-color: var(--brand-dark-color);
    color: var(--brand-white-color);
    border: 2px solid var(--brand-dark-color);
    border-radius: 32px;
    font-weight: 600;
    font-size: 18px;

    display: flex;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
        margin-bottom: 14px;
    }
}

.button-order:hover {
    background-color: transparent;
    color: var(--primary-text-color);
    border-radius: 32px;
    transition: 0.2s;
}



