.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 44px;
    width: 44px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--primary-text-color);
    fill: var(--primary-text-color);
    cursor: pointer;
}

.carousel-button:hover {
    background-color: var(--brand-dark-color);
    fill: var(--brand-white-color);
}

.carousel-button.next {
    transform: rotate(180deg);
}