.about-section {
    padding-top: 40px;
    

    &__container {
        display: flex;
        gap: 0;
        width: 100%;

        @media screen and (min-width: $bp-tablet) {
            justify-content: space-between;
            gap: 40px;
        }
    }

    &__text {
        max-width: 320px;
        @media screen and (min-width: $bp-tablet) {
            
            flex-shrink: 0;
                max-width: 709px;
            }
        }

        
    &__title {
        max-width: 264px;
        font-weight: 500;
        font-size: 32px;
        @media screen and (min-width: $bp-tablet) {
            max-width: 529px;
            font-size: 48px;
            font-weight: 700;
            font-size: 64px;
            margin-bottom: 42px;
        }
    }

    &__title .accent {


        color: var(--brand-dark-color);
        text-transform: capitalize;
    }

    &__paragraph {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;

    @media screen and (min-width: $bp-tablet) {
        font-size: 22px;
        line-height: 1.7;
    }

        margin-bottom: 40px;
        
        
    }

    &__image {
        display: none;
        
        @media screen and (min-width: $bp-tablet) {
            position: relative;                    
            width: 100%;
            height: 100%;
            border-radius: 50%;
            }
    }

    &__image-result {
        position: absolute;
        box-shadow: 0px 4px 4px 0px #A8C6F533;
        border-radius: 50%;
    }


    &__image-result.start {
        top: 0;
        left: 0;
    }

    &__image-result.end {
        bottom: -400px;
        right: 0;
        margin-top: 40px;
    }  
}
