.contact-section {
    padding-bottom: 96px;

    &__container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 24px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            gap: 32px;
        }
    }

    &__form {
        padding: 48px 74px 32px;
        width: 100%;
        max-width: 423px;
        border-radius: 32px;
        background-color: var(--primary-text-color);
        background-image: url('./../images/background.png');
        background-repeat: no-repeat;
    }

    &__text {
        font-weight: 600;
        font-size: 22px;
        color: var(--brand-white-color);
    }

    &__map {
        margin: 0 -24px;
        height: 232px;
        flex-shrink: 0;
        border: none;
        border-radius: 32px;

        @media screen and (min-width: $bp-tablet) {
            margin: auto;
            width: 320px;
            height: 500px;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 605px;
            height: 481px;
        }
    }

    &__title {
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 48px;
        text-align: center;
    }


}

