.footer {
    position: relative;
    background-color: var(--primary-text-color);
    background-image: url('./../images/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 56px 0;

    &::after {
        position: absolute;
        width: 247px;
        height: 152px;
        right: 0;
        bottom: 0;
        background-image: url('./../images/footer-decor-img.png');
        background-repeat: no-repeat;
        content: '';
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            
        }
    }

    &__nav,
    &__address {
        text-align: center;
        display: flex;
        flex-direction: column;
        
        flex-grow: 1;
        gap: 20px;

        @media screen and (min-width: $bp-tablet) {
            flex-basis: 50%;
            flex-direction: row;
            text-align: left;
            
        }
    }

    &__logo,
    &__menu {
        flex-grow: 1;
        padding: 0;
    }

    &__address-list,
    &__address-info {
        flex-grow: 1;
        padding: 0;
    }

    &__link {
        color: var(--brand-white-color);
        font-size: 16px;
        text-decoration: none;
    }

    &__link:hover {
        color: var(--brand-dark-color);
    }

    &__socials {
        fill: var(--brand-white-color);
    }

    &__data {
        font-size: 13px;
        color: var(--grey-color-dark);
    }
}





