.procedures-section {

    &__title {
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 48px;
        text-align: center;
    }

    &__container {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    &__list {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        padding: 0;
    }

    &__item {
        flex-basis: calc((100% - 32px) / 3);
    }
}

