.procedures-section {

    &__title {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 48px;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            font-size: 64px;
            font-weight: 700;
        }
    }

    &__slider {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    &__container {
        overflow: hidden;
    }

    &__list {
        margin-bottom: 32px;
    }

    &__button {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            
        }
    }
}