.reasons-section{
    &__container {
        padding-top: 16px;
        background: linear-gradient(-180deg,
                    rgba(43, 127, 255, 0.2) 39.74%,
                    rgba(43, 127, 255, 0) 54.16%,
                    rgba(43, 127, 255, 0) 66.66%);
        
        @media screen and (min-width: $bp-tablet) {
            padding-top: 176px;
            justify-content: center;
            
            
        }
    }

    &__context {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }

    &__title {
        max-width: 210px;
        margin-bottom: 16px;
        flex-grow: 1;
        font-weight: 500;
        font-size: 32px;
        font-family: 'Roboto';
        text-align: center;
        @media screen and (min-width: $bp-tablet) {
            max-width: 432px;
            font-size: 64px;
            font-weight: 700;
            margin-bottom: 48px;
        }
    }

    &__menu {
        flex-grow: 1;
        justify-content: center;
        @media screen and (min-width: $bp-tablet) {
            justify-content: space-between;
            
        }
        
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        padding: 0 20px;
        @media screen and (min-width: $bp-tablet) {
            display: flex;
            flex-direction: row;
            gap: 56px;
            flex-wrap: wrap;
            flex-grow: 1;
            justify-content: space-between;
            padding: 0;
        }
        
    }

    &__item {
        max-width: 316px;
        @media screen and (min-width: $bp-tablet) {
            flex-basis: calc((100% - 112px) / 3);
            
        }
    }

}

